body {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 120%;
  background-color: #F3F0ED;
  color: #000000;
  text-transform: uppercase;
}

h1{
  font-size: 30px;
}

h3 {
  font-size: 30px;
  color: #F7F4F1;
}
